/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNRwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptyg83HX_SGhgqO0yLcmjzUAuWexXRWwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptyg83HX_SGhgqO0yLcmjzUAuWexRNWwaA.ttf) format('truetype');
}
body {
  z-index: auto;
}
.body-blackout {
  display: none;
  background: rgba(79, 79, 79, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.no-scroll {
  height: 100vh;
  overflow: hidden;
  padding-right: 15px;
}
.rentals {
  padding: 3%;
}
.rentals .loc-and-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rentals .loc-and-number h1 {
  color: #333333;
  font-size: 24px;
  font-weight: 700;
}
.rentals .loc-and-number span {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 500;
}
.rentals .rental-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2%;
}
.rentals .rental-card {
  width: 32%;
  margin-bottom: 3%;
}
.rentals .rental-card .rental-image {
  height: 32vh;
  overflow: hidden;
  border-radius: 24px;
  margin-bottom: 3%;
}
.rentals .rental-card img {
  background-color: gray;
  width: 100%;
}
.rentals .rental-card .details-and-rating {
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-size: 14px;
  margin-bottom: 3%;
}
.rentals .rental-card .rating {
  width: 10%;
  display: flex;
  justify-content: space-between;
}
.rentals .rental-card i {
  color: #eb5757;
}
.rentals .rental-card .rental-name {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
}
header {
  margin: 2% 3%;
  display: flex;
  justify-content: space-between;
}
header .filters {
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  width: 19%;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  font-size: 14px;
  background-color: white;
}
header .filters div {
  padding: 5% 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
header .filters .location-filter {
  width: 45%;
}
header .filters .guest-filter {
  width: 40%;
}
header .filters .no-selection {
  color: #bdbdbd;
}
header .filters .search-btn {
  width: 15%;
  color: #eb5757;
  font-size: 18px;
}
header .guest-filter {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}
.hidden {
  display: none;
}
.filters-active {
  font-family: "Mulish", sans-serif;
  border-radius: 0;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: -50vh;
  padding: 3%;
  height: 45vh;
  transition: 0.4s ease;
}
.filters-active form {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.filters-active form .input-container {
  position: relative;
  width: 33%;
}
.filters-active form .button-container {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filters-active form label {
  font-size: 9px;
  font-weight: 800;
  color: #333333;
  text-transform: uppercase;
  position: absolute;
  padding-top: 2%;
  padding-left: 5%;
}
.filters-active form input {
  font-size: 14px;
  color: #333333;
  border: none;
  padding: 4% 5% 2%;
  width: 100%;
  border-radius: 16px;
}
.filters-active form input::placeholder {
  color: #bdbdbd;
}
.filters-active form #guests-input {
  border-radius: 0;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  cursor: pointer;
}
.filters-active form button {
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 700;
  padding: 0 4%;
  height: 100%;
  width: 25%;
  cursor: pointer;
}
.filter-options {
  display: flex;
}
.location-options,
.guest-options {
  padding: 2% 1.5%;
  width: 33%;
  visibility: hidden;
}
.location-option {
  color: #4f4f4f;
  font-size: 14px;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
i {
  margin-right: 1.5%;
  font-size: 19px;
}
.guest-options {
  font-size: 14px;
  font-weight: 700;
}
.guest-options .guest-option {
  margin-bottom: 10%;
}
.guest-options .guest-type {
  margin-bottom: 1%;
}
.guest-options .guest-age {
  color: #bdbdbd;
  font-weight: 400;
}
.guest-options .number-of-guests {
  margin-top: 2%;
}
.guest-options .number-of-guests span {
  margin: 0 2.5%;
}
.guest-options button {
  background-color: transparent;
  border: 1px solid #828282;
  border-radius: 4px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}
